<h1>Top Covid Stories Right Now</h1>

<div class="container-fluid" id="articleFlex">

  @foreach (var article in Model)
  {
    <div class="card w-100" id="articleCard">
        <h5 class="card-title"><a href="@article.url">@article.title</a></h5>
        <p class="card-subtitle"><b>Author: </b>@article.author</p>
        <p class="card-text" id="newDescription">@article.description</p>
    </div>
  }

</div>
