<div class="container">

  <div id="top">

    <h1>Covid-19 Resource Links</h1>

  </div>

  <div class="container" id="resources-flex">

    <div class="card" id="oregonLinks">
      <h3 class="card-title">Oregon</h3>

      <ul class="list-group list-group-flush" id="oregonTesting">
        <h6 class="text-muted">Oregon Covid Testing Links</h6>
        <li li class="list-group-item"><a class="card-link" href="https://covidblog.oregon.gov/free-covid-19-testing-sites-in-oregon/">Free testing in Oregon</a>
        </li>
      </ul>

      <ul class="list-group list-group-flush" id="oregonVaccines">
        <h6 class="text-muted">Oregon Vaccine Links (English/Español)</h6>
        <li li class="list-group-item"><a class="card-link" href="https://govstatus.egov.com/find-covid-19-vaccine">Vaccines in Oregon</a></li>
      </ul>

      <ul class="list-group list-group-flush" id="oregonCounties">
        <h6 class="text-muted">Oregon Info by County</h6>
        <li li class="list-group-item"><a class="card-link" href="https://www.oregon.gov/oha/covid19/Pages/vaccine-information-by-county.aspx">Vaccine information by
            county</a></li>
      </ul>

      <ul class="list-group list-group-flush" id="oregonChildren">
        <h6 class="text-muted">Oregon Links for children's resources</h6>
        <li li class="list-group-item"><a class="card-link" href="https://www.oregon.gov/oha/covid19/Pages/K-12-COVID-19-Testing.aspx">Resources for children</a>
        </li>
      </ul>

      <ul class="list-group list-group-flush" id="oregonAccessible">
        <h6 class="text-muted">Resources for people with disabilities in Oregon</h6>
        <li li class="list-group-item"><a
            href="https://static1.squarespace.com/static/5d645da3cf8e4c000158e55a/t/60fef47a7735e2589bc9cf5b/1627321467487/OHA+Guidance.pdf">Public
            health recommendations for people with intellectual and developmental disabilities</a></li>
      </ul>
    </div>
    <div class="card" id="washingtonLinks">
        <h3 class="card-title">Washington</h3>

        <ul class="list-group list-group-flush" id="washingtonTesting">
          <h6 class="text-muted">Washington Covid Testing Locations</h6>
          <li li class="list-group-item"><a class="card-link" href="https://www.doh.wa.gov/Emergencies/COVID19/TestingforCOVID19/TestingLocations">Testing in
              Washington</a></li>
        </ul>

        <ul class="list-group list-group-flush" id="washingtonVaccines">
          <h6 class="text-muted">Washington Vaccine Links (English/Español)</h6>
          <li li class="list-group-item"><a class="card-link" href="https://vaccinelocator.doh.wa.gov/">Vaccines in Washington</a></li>
        </ul>

        <ul class="list-group list-group-flush" id="washingtonChildren">
          <h6 class="text-muted">Washington Links for children's resources</h6>
          <li li class="list-group-item"><a class="card-link" href="https://www.doh.wa.gov/emergencies/covid19/vaccineinformation/vaccinatingyouth">Resources for
              children</a></li>
        </ul>

        <ul class="list-group list-group-flush" id="washingtonAccessible">
          <h6 class="text-muted">Resources for people with disabilities</h6>
          <li li class="list-group-item"><a
              href="https://nwadacenter.org/sites/adanw/files/files/Fact%20Sheet%20Accessibility%20at%20Drive-Thru%20Medical%20Sites(1).pdf">Fact
              Sheet Accessibility at Drive-Thru Medical Sites</a></li>
          <li li class="list-group-item"><a class="card-link" href="https://www.dshs.wa.gov/altsa/odhh/regional-service-centers-0">Office of the Deaf and Hard of
              Hearing Regional Service Centers</a></li>
        </ul>
      </div>
  </div>

  <div class="card w-100" id="fedCard">
    <h3>Federal Information & Education</h3>
    <ul class="list-group list-group-flush" id="fedInfo">
      <li li class="list-group-item"><a class="card-link" href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html">Quarantine &
          Isolation</a></li>
      <li li class="list-group-item"><a class="card-link" href="https://www.cdc.gov/coronavirus/2019-ncov/variants/omicron-variant.html">Omicron Variant</a></li>
      <li li class="list-group-item"><a class="card-link" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/use-n95-respirator.html">How to wear
          N95 Respirator</a></li>
      <li li class="list-group-item"><a class="card-link" href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/types-of-masks.html">Types of masks
          and Respirators</a></li>
    </ul>
  </div>
</div>
</div>
