<div class="container">
  <div id="top">

    <h1>Covid-19 Resource Links</h1>
    <h3>Oregon</h3>
  </div>
  <div id="oregonLinks">

    <ul id="oregonTesting">
      <h4>Oregon Covid Testing Links</h4>
      <li><a href="https://covidblog.oregon.gov/free-covid-19-testing-sites-in-oregon/">Free testing in Oregon</a></li>
    </ul>

    <ul id="oregonVaccines">
      <h4>Oregon Vaccine Links (English/Español)</h4>
      <li><a href="https://govstatus.egov.com/find-covid-19-vaccine">Vaccines in Oregon</a></li>
    </ul>

    <ul id="oregonCounties">
      <h4>Oregon Info by County</h4>
      <li><a href="https://www.oregon.gov/oha/covid19/Pages/vaccine-information-by-county.aspx">Vaccine information by
          county</a></li>
    </ul>

    <ul id="oregonChildren">
      <h4>Oregon Links for children's resources</h4>
      <li><a href="https://www.oregon.gov/oha/covid19/Pages/K-12-COVID-19-Testing.aspx">Resources for children</a></li>
    </ul>

    <ul id="oregonAccessible">
      <h4>Resources for people with disabilities in Oregon</h4>
      <li><a
          href="https://static1.squarespace.com/static/5d645da3cf8e4c000158e55a/t/60fef47a7735e2589bc9cf5b/1627321467487/OHA+Guidance.pdf">Public
          health recommendations for people with intellectual and developmental disabilities</a></li>
    </ul>

    <h3>Washington</h3>

    <ul id="washingtonTesting">
      <h4>Washington Covid Testing Locations</h4>
      <li><a href="https://www.doh.wa.gov/Emergencies/COVID19/TestingforCOVID19/TestingLocations">Testing in
          Washington</a></li>
    </ul>

    <ul id="washingtonVaccines">
      <h4>Washington Vaccine Links (English/Español)</h4>
      <li><a href="https://vaccinelocator.doh.wa.gov/">Vaccines in Washington</a></li>
    </ul>

    <ul id="washingtonChildren">
      <h4>Washington Links for children's resources</h4>
      <li><a href="https://www.doh.wa.gov/emergencies/covid19/vaccineinformation/vaccinatingyouth">Resources for
          children</a></li>
    </ul>

    <ul id="washingtonAccessible">
      <h4>Resources for people with disabilities</h4>
      <li><a
          href="https://nwadacenter.org/sites/adanw/files/files/Fact%20Sheet%20Accessibility%20at%20Drive-Thru%20Medical%20Sites(1).pdf">Fact
          Sheet Accessibility at Drive-Thru Medical Sites</a></li>
      <li><a href="https://www.dshs.wa.gov/altsa/odhh/regional-service-centers-0">Office of the Deaf and Hard of
          Hearing Regional Service Centers</a></li>
    </ul>

    <h3>Federal Information & Education</h3>

    <ul id="fedInfo">
      <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html">Quarantine &
          Isolation</a></li>
      <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/variants/omicron-variant.html">Omicron Variant</a></li>
      <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/use-n95-respirator.html">How to wear
          N95 Respirator</a></li>
      <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/types-of-masks.html">Types of masks
          and Respirators</a></li>
    </ul>


  </div>
</div>
